<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/main2.css" type="text/css" />
    <script type="text/javascript" src="~/Content/JS/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/Content/JS/Winwheel.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
