@model Lucky_Draw_Promotion.Models.userAccount
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

<form class="login100-form validate-form" action="" method="post">
    <span class="login100-form-title" style="font-weight:bold;">
        Login User
    </span>

    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        @Html.DisplayFor(model => model.email)
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.DisplayFor(model => model.pass)
        <input class="input100" type="password" name="pass" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <div class="container-login100-form-btn">
        <input style="display:none" name="urlString" value="@Request.UrlReferrer" />
        <button class="login100-form-btn">
            Login
        </button>
    </div>


</form>

    <div class="text-center p-t-12">
        <span class="txt1" style="color:#ffffff;">
            Forgot
        </span>
        <a class="txt2" href="@Url.Action("ForgotPass","AuthenticationUsers")">
            Username / Password?
        </a>
    </div>

    <div class="text-center p-t-40">
        <a class="txt2" href="/AuthenticationUsers/Register">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>